body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #C4E0F9;
}
button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  border-radius: 6px;
  background-color:#8596B7;
  color: #FFFFFF;
}
button:hover {
  background-color: #9BBDF9;
}
span {
  font-family: 'Josefin Sans', sans-serif;
}
.threeButtons {
  text-align: center;
}
h1, h2 {
  font-family: 'Julius Sans One', sans-serif;
  color:#6384A0;
  text-shadow: 1px 1px 1px #000;
}
.one, .two, .three {
  display: none;
  width: 800px;
  height: 525px;
  margin: 50px auto;
  clear: both;
  border: 5px dotted white;
}
h1, div {
  text-align: center;
}
img {
  padding: 40px 0 0px 10px;
  float: left

}
h2 {
  padding-top: 75px;
  font-size: 1.5em;
}
h4, li {
  font-size: 1em;
}
